/* Footer.module.css */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  height: 70px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: large;
}
[data-theme="dark"] .footer {
  background: #262525;
  color: white;
}

/* Estilos para los enlaces dentro del footer */
.footer a {
  color: rgb(55, 55, 45);
  margin: 0 25px;
  text-decoration: none;
}
[data-theme="dark"] .footer a {
  background: #262525;
  color: white;
}

.footer a:hover {
  color: #000;
  font-size: 1.3em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
