

.all {
    display:flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 17px;
    color: rgb(0, 0, 0);
    border-top: 1px solid #474747;
}



.a {
    width: 10%;
}

.b {
    width: 30%;
}

.c {
    width: 10%;
}

.d {
    width: 15%;
}

.e {
    width: 15%;
}

.f {
    width: 9%;
}

.button {
    background:#FFA424 ;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
}