.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #ffa424;
  color: black;
}
[data-theme="dark"] .container {
  background: #1e1e1e;
  color: white;
}

.botones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block: 5px;
}

.option select,
.option2 select {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: black;
}

.rutas a,
.rutas a:visited,
.rutas a:hover,
.rutas a:active {
  text-decoration: none;
  color: black;
}

.rutas,
.option {
  padding: 5px 30px 5px 30px;
  margin-bottom: 15px;
  margin-top: 10px;
  text-decoration: none;
}

.option2 {
  padding: 5px 30px 5px 30px;
  border-right: 1px solid rgb(0, 0, 0);
  margin-bottom: 15px;
  margin-top: 10px;
}

.logo {
  position: relative;
  background-image: url("../assets/images/rofe-logo4.jpg");
  background-size: cover;
  width: 220px;
  height: 130px;
  background-position: left;
}

.sesion {
  /* Otros estilos existentes */
  padding: 0; /* Ajusta el padding para evitar espacios innecesarios */
  position: relative; /* Posicionamiento absoluto */
  top: 10px; /* Distancia desde la parte superior */
  right: 10px; /* Distancia desde la derecha */
  display: flex; /* Establece flexbox */
  flex-direction: column; /* Coloca los elementos en una columna */
  align-items: flex-end; /* Alinea los elementos a la derecha */
}

.sesion div {
  margin-bottom: 20px; /* Espacio entre los íconos */
}
.dash {
  padding: 0;
}
