.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #ffa424;
  color: black;
}
[data-theme="dark"] .container {
  background: #1e1e1e;
  color: white;
}

.botones {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.option select,
.option2 select {
  background-color: rgb(55, 55, 45);
  font-size: 16px;
  color: white;
  border: 2px solid orange;
  border-radius: 8px;
  text-align: center;
  font-size: large;
  padding: 8px 15px;
}
.option select:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.option2 select:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.rutas a,
.rutas a:visited,
.rutas a:active {
  background-color: rgb(55, 55, 45);
  font-size: 16px;
  color: white;
  border: 2px solid orange;
  border-radius: 8px;
  text-align: center;
  font-size: medium;
  padding: 8px 15px;
  text-decoration: none;
}
.rutas a:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.rutas,
.option {
  padding: 5px 30px 5px 30px;
  margin-bottom: 15px;
  margin-top: 10px;
  text-decoration: none;
}

.option2 {
  padding: 5px 30px 5px 30px;
  border-right: 1px solid rgb(0, 0, 0);
  margin-bottom: 15px;
  margin-top: 10px;
}

.logo {
  position: relative;
  background-image: url("../assets/images/rofe-logo4.jpg");
  background-size: cover;
  width: 220px;
  height: 130px;
  background-position: left;
}

.sesion {
  padding: 0;
  position: relative;
  top: 15px;
  right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sesion div {
  margin-bottom: 25px; /* Espacio entre los íconos */
}
.dash a {
  background-color: rgb(55, 55, 45);
  color: white;
  border: 2px solid orange;
  border-radius: 8px;
  text-align: center;
  font-size: medium;
  padding: 6px 12px;
  text-decoration: none;
}
.dash a:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.login a {
  background-color: rgb(55, 55, 45);
  color: white;
  border: 2px solid orange;
  border-radius: 8px;
  text-align: center;
  font-size: medium;
  padding: 6px 12px;
  text-decoration: none;
}
.login a:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
