.all {
  display: flex;
  justify-content: center;
}
[data-theme="dark"] .all {
  background: #151414;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 17px;
  color: rgb(0, 0, 0);
  border-top: 1px solid #474747;
}
[data-theme="dark"] .container {
  background: #2c251b;
  color: rgb(227, 220, 220);
}

.a {
  width: 17%;
}

.b {
  width: 17%;
}

.c {
  width: 23%;
}

.d {
  width: 20%;
}

.e {
  width: 15%;
}

.buttonEliminar {
  color: white;
  border: 2px solid #555;
  padding: 0.6em 1.2em;
  border-radius: 5px;
  background-color: #555;
  cursor: pointer;
}