.buttonEliminar {
    background: #ffa424;
    border: 2px solid #474747;
    padding: 8px 18px;
    border-radius: 5px;
    color: #1e1e1e;
    font-size: 15px;
    cursor: pointer;
  }
  [data-theme="dark"] .buttonEliminar {
    background: #474747;
    color: white;
    border: 2px solid #474747;
  }
  .buttonEliminar:hover {
    box-shadow: 0 0 15px rgb(223, 49, 40);
  }

