.add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #ff9800;
  color: white;
  border-radius: 50%;
  position: absolute;
  bottom: 7%;
  right: 8%;
  font-size: 120px;
  padding-bottom: 15px;
  padding-right: 2px;
}
[data-theme="dark"] .add {
  background: orange;
  color: rgb(38, 37, 36);
}
