
.form {

    align-items: center;
    justify-content: center;
    max-width: 430px;
    margin: 65px auto;
    padding: 40px;
    background-color: #474747;
    border-radius: 13px;
    color: #EC8800;
    font-size: 24px;
    font-weight: 400;
   
}

.formgroup {
    margin-bottom: 1rem;
    margin:10px;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.error {
    color: rgba(255, 0, 0, 0.915);
    font-size: 0.8rem;
    margin-top: 0.2rem;
}

.form button {
    background: #FFA424;
    border-radius: 4px;
    width: 120px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.butt{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.b{
    transition: border-color 0.25s;
}
    
.b:hover {
    border-color: #2F3544;
    transform: scale(1.05);
}


