.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor {
    display: grid;
    place-items: center;

    border-radius: 22px;
    background: #474747;
}

.form {

    padding: 20px 80px 50px 80px;
}

.group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.grupoCorto {
    display: flex;
    justify-content: space-between;

    gap: 20px;
}



.title,
.nombre,
.descripcion,
.tipo,
.proveedor,
.precio,
.ganancia {
    color: #EC8800;
    padding-bottom: 5px;

}

.title {
    padding-top: 40px;

}

.inputNombre,
.inputTipo,
.inputProveedor {
    border-radius: 12px;
    background: #FFF;
    color: #2c2c2c;
    width: 450px;
    height: 51px;
    flex-shrink: 0;
}

.inputImagen {
    display: inline-block;
    padding: 10px 20px;
    background-color: #EC8800;
    /* Cambia este color al que desees */
    color: white;
    /* Cambia el color del texto al que desees */
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.inputImagen:hover{
    background-color: #FFA424;
}

.inputDescripcion {
    border-radius: 12px;
    background: #FFF;
    color: #2c2c2c;
    resize: none;
}

.inputPrecio,
.inputGanancia {
    border-radius: 12px;
    background: #FFF;
    color: #2c2c2c;
    width: 200px;
    height: 51px;
    flex-shrink: 0;
}

.divButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonCreate {

    background: #EC8800;
    border-radius: 5px;
}

.buttonCreate {
    border: 1px solid #2c2c2c;
    padding: 0.6em 1.2em;
    border-radius: 5px;
    background-color: #EC8800;
    cursor: pointer;
    transition: border-color 0.25s;
}

.buttonCreate:hover {
    border-color: #FFA424;
    transform: scale(1.05);
}

.buttonCreate:focus,
.buttonCreate:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}