
.form {

    align-items: center;
    justify-content: center;
    max-width: 430px;
    margin: 65px auto;
    padding: 40px;
    background-color: #474747;
    border-radius: 13px;
    color: #EC8800;
    font-size: 24px;
    font-weight: 400;
   
}

.formgroup {
    margin-bottom: 1rem;
    margin:10px;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.error {
    color: rgba(255, 0, 0, 0.915);
    font-size: 0.8rem;
    margin-top: 0.2rem;
}

.errorSelect{
    color: red;
  font-size: 12px;
  margin-bottom: 1rem;
}
.form button {
    background: #FFA424;
    border-radius: 4px;
    width: 120px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.label1{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */

}

.rubroGrupo{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
   
  
}
.option {
    border-radius: 6px;
    font-size: 24px;
    color: #EC8800;
    background-color: transparent;
    cursor: pointer;
    
}


.selectioned {
    background-color: #bb9f63;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
}

.x {
    /* color: #fff;
    border: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-left: 10px; */

    font-size: 15px;
    cursor: pointer;
    margin-left: 5px;
    color: red;
    /* background: #bb9f63; */
    border-radius: 5px;
}


.butt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* padding-top: 20px; */
    /* border: 1px solid red; */
    
}
.b{
transition: border-color 0.25s;
}

.b:hover {
    border-color: #2F3544;
    transform: scale(1.05);
}
/* 
.optioncombinada{
    display: inline-flex;
    border: 1px solid green;
} */