.all {
  display: flex;
  justify-content: center;
}
[data-theme="dark"] .all {
  background: #1e1e1e;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  background-color: #474747;
  padding: 15px;
  color: white;
  margin: 16px;
}
[data-theme="dark"] .container {
  background: #2c251b;
  color: orange;
}

.a {
  width: 17%;
}

.b {
  width: 17%;
}

.c {
  width: 23%;
}

.d {
  width: 20%;
}

.e {
  width: 15%;
}
