.main {
  margin: 50px 50px 0 50px;
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 52px;
  border: 1px solid #939393;
  background: rgba(255, 255, 255, 0);
}
[data-theme="dark"] .main {
  background: #1e1e1e;
  color: white;
}

.section {
  display: flex;
  gap: 250px;
}
[data-theme="dark"] .section {
  background: #1e1e1e;
  color: white;
}

.seguido {
  display: flex;
  margin: 20px 0;
  align-items: center;
}
[data-theme="dark"] .seguido {
  background: #1e1e1e;
  color: white;
}

.seguido h2 {
  margin-right: 10px;
  color: #000;
  font-size: 30px;
}
[data-theme="dark"] .seguido h2 {
  background: #1e1e1e;
  color: white;
}

.seguido p {
  font-size: 25px;
}
[data-theme="dark"] .seguido p {
  background: #1e1e1e;
  color: white;
}

.divDescription {
  /* border: 1px solid red; */
  flex: 1;
  margin-left: 20px;
  width: 724px;
  height: 617px;
  flex-shrink: 0;
}
[data-theme="dark"] .divDescription {
  background: #1e1e1e;
  color: white;
}

.divDescription h1 {
  color: #000;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
[data-theme="dark"] .divDescription h1 {
  background: #1e1e1e;
  color: rgb(197, 145, 110);
}

.divDescription h2 {
  font-size: 30px;
}
[data-theme="dark"] .divDescription h2 {
  background: #1e1e1e;
  color: rgb(240, 240, 238);
}

.description {
  margin: 20px 0;
}
[data-theme="dark"] .description {
  background: #1e1e1e;
  color: rgb(241, 240, 233);
}

.description p {
  color: #000;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
[data-theme="dark"] .description p {
  background: #1e1e1e;
  color: rgb(167, 168, 154);
}

.divImg {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}
[data-theme="dark"] .divImg {
  background: #1e1e1e;
  color: rgb(167, 168, 154);
}

.divImg img {
  max-width: 120%;
}
[data-theme="dark"] .divImg img {
  background: #1e1e1e;
  color: rgb(167, 168, 154);
  border-radius: 20px;
  filter: grayscale(50%);
}

.button {
  background: #ec8800;
  border-radius: 5px;
}
[data-theme="dark"] .button {
  background: #1e1e1e;
  color: white;
  border: 1px solid orange;
}

.button {
  border: 1px solid #2c2c2c;
  padding: 0.6em 1.2em;
  border-radius: 5px;
  background-color: #ec8800;
  cursor: pointer;
  transition: border-color 0.25s;
  position: absolute; /* Posicionamiento absoluto con respecto al contenedor */
  bottom: 120px; /* Coloca el botón en la parte inferior */
  right: 90px;
}

.button:hover {
  border-color: #ffa424;
  transform: scale(1.05);
}

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.butt {
  border: 1px solid red;
  position: relative; /* Establece el contenedor como una referencia para el posicionamiento absoluto del botón */
  width: 300px; /* Ancho del contenedor, ajusta según tus necesidades */
  height: 200px;
}
